#devcon-2015-tokyo{
  background: black;
}
#devcon-2015-tokyo #globalheader nav,
#devcon-2015-tokyo #nav-main-menu li a,
#devcon-2015-tokyo #globalheader nav > ul > li:hover, 
#devcon-2015-tokyo #globalheader nav > ul > li:hover > a, 
#devcon-2015-tokyo #globalheader nav > ul > li > a:hover, 
#devcon-2015-tokyo #globalheader nav > ul > li > a:focus, 
#devcon-2015-tokyo #globalheader nav > ul > li > a:active {
  color: white;
}
#devcon-2015-tokyo #doc{
  width: auto;
}
#devcon-2015-tokyo #doc-outer{
  margin-bottom: 0;
}

#devcon-2015-tokyo .registration{
  display: inline-block;
  margin: 4rem 0;
  background-color: #0095DD;
  padding: 1rem 4rem;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}
#devcon-2015-tokyo .registration:hover{
  text-decoration: none;
  background-color: #0085CC;
}
#devcon-2015-tokyo .registration:active{
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
  background-color: #0080C0;
}

#devcon-2015-tokyo .speaker .photo{
  width: 10rem;
  min-width: 10rem;
  padding-top: .5rem;
  margin-right: 2rem;
}
#devcon-2015-tokyo .speaker .photo > img{
  width: 100%;
}
#devcon-2015-tokyo .speaker .name{
  display: block;
  font-size: 144%;
}
#devcon-2015-tokyo .speaker .profile{
  font-size: 80%;
  margin-top: 1rem;
  display: block;
}
#devcon-2015-tokyo .speaker .profile > p{
  margin: 0;
}

#devcon-2015-tokyo #main > header{
  margin-top: 1rem;
  text-align: center;
  background-color: black;
  box-shadow: .1rem .1rem .1rem #ccc;
}

#devcon-2015-tokyo #main > header > h1{
  font-size: 100%;
  display: none;
}
#devcon-2015-tokyo #main > header > h2{
  margin: 0 auto;
  color: white;
  text-indent: -9999em;
  background-image: url(/static/images/events/devcon/2015/tokyo/main.png);
  background-repeat: no-repeat;
  background-size: contain;
  padding: 0;
  width: 55rem;
  height:27rem;
}
#devcon-2015-tokyo #main > header div{
  display: none;
}
#devcon-2015-tokyo #main > header > nav{
  width: 55rem;
  margin:auto;
  margin-bottom: 2rem;
}
#devcon-2015-tokyo #main > header > nav > ul{
  padding: 0;
  text-align: right;
}
#devcon-2015-tokyo #main > header > nav > ul > li{
  list-style: none;
  background: none;
  display: inline-block;
  margin: 0;
  padding: 0;
}
#devcon-2015-tokyo #main > header > nav > ul > li:first-child:after{
  content: "/";
  margin: 0 .5rem;
  color: white;
}
#devcon-2015-tokyo #main > header > nav > ul > li > a{
  display: inline-block;
  color: white;
}

#devcon-2015-tokyo #main > header div.container{
  display: block;
  overflow: hidden;
  color: white;
  text-align: left;
  width: 55rem;
  margin: auto;
}

#devcon-2015-tokyo #main > nav{
  background-color: white;
  margin: 0;
  text-align: center;
}
#devcon-2015-tokyo #main.fixed-menu > nav{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  z-index: 999;
}
#devcon-2015-tokyo #main.fixed-menu > nav > ul{
  overflow-x: visible;
}
#devcon-2015-tokyo #main.fixed-menu > nav li{
  font-size: 80%;
  padding: .25rem 0;
}

#devcon-2015-tokyo #main > nav > ul{
  max-width: 55rem;
  display: block;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
}
#devcon-2015-tokyo #main > nav > ul > li{
  display: inline-block;
  list-style: none;
  background: none;
  min-width: 6rem;
  padding: 1.5rem 0;
  flex-grow: 1;
}
#devcon-2015-tokyo #main > section{
  padding: 8rem 0;
  box-shadow: .1rem .1rem .1rem #ccc;
}
#devcon-2015-tokyo #main > section > header,
#devcon-2015-tokyo #main > section >  .container{
  width: 55rem;
  margin: auto;
}

#devcon-2015-tokyo #main > section h2{
  font-size: 8rem;
  line-height: .8;
  margin-bottom: 4rem;
  text-align: center;  
}

#devcon-2015-tokyo #main > section h3{
  font-size: 144%;
}

.report-link {
  margin: 32px 0;
  border: 1px solid rgba(255, 255, 255, .8);
  padding: 8px;
  text-align: center;
}

#keynotes{
  color: white;
  background-color: #4D4E53;
}

#sessions{
  color: white;
  background-color: #0095DD;
}

#devcon-2015-tokyo #main > #keynotes h2{
  margin-bottom: 6rem;
}

#keynotes ul{
  padding: 0;
  margin: 2rem 0;
}

#keynotes .speaker > li{
  list-style: none;
  display: block;
  margin: 0;
  margin-bottom: 4rem;
  padding: 0;
  background-image: none;
  display: flex;
  flex-grow: 1;
  box-sizing: border-box;
} 
#keynotes aside{
  margin-top: 1em;
}

#sessions > header > p:last-child{
  margin-bottom: 3rem;
}

#sessions > ol{
  padding: 0;
}

#sessions > ol > li{
  list-style: none;
  display: flex;
  margin-bottom: 1rem;
}
#sessions > ol > li > div{
  color: white;
  min-width: 8rem;
}

#sessions > ol > li > div .time{
  font-size: 69%;
  display: block;
}
#sessions > ol > li > ul{
  padding: 0;
  margin: 0;
  flex-grow: 2;
}
#sessions > ol > li > ul > li{
  display: block;
  list-style: none;
  background: none;
  color: #333;
  background-color: white;
  margin-bottom: 1em;
  padding: 2em;
}

#sessions .session > h3{
  margin-bottom: 1.25em;
}
#sessions .session > h3 > a{
  color: #333;
  text-decoration: none;
}

#sessions .session > h3 > .room{
  display: block;
  font-size: 69%;
  margin-top: .5em;
}

#sessions .session > span{
  display: block;
}

.container .assets ul {
  margin: 1em 0;
  padding: 0;
}

.container .assets li {
  display: inline-block;
  margin: 0 1em 0 0;
  padding: 0;
  list-style: none;
  background: none;
}

.container .assets a::before {
  margin-right: .5em;
  font-family: FontAwesome, sans-serif;
}

.container .assets a.video::before {
  content: "\F03D";
}

.container .assets a.slides::before {
  content: "\F15B";
}

#sessions .session > .speaker{
  display: flex;
  align-items: flex-top;
  margin-top: .5rem;
}

#sessions .session .abstract{
  margin-top: 1em;
}

#sessions .session aside{
  margin-top: 1em;
}

#sessions li.fold{
  padding: 1rem;
  margin-bottom: .5rem;
  position: relative;
}
#sessions li.unfold{
  position: relative;
}
#sessions .unfold h3 > a:after,
#sessions .fold h3 > a:after{
  position: absolute;
  right: 1rem;
  top: .5rem;
  font-size: 144%;
  color: #0095DD;
}
#sessions  .unfold h3 > a:after{
  content: '-';
}
#sessions .fold h3 > a:after{
  content: '+';
}

#sessions .fold > .session .photo,
#sessions .fold > .session .organization,
#sessions .fold > .session .title,
#sessions .fold > .session .profile,
#sessions .fold > .session .abstract,
#sessions .fold > .session aside,
#sessions .fold > .session .assets {
  display: none;
}
#sessions .fold > .session .speaker{
  margin: 0;
  display: inline-block;
}
#devcon-2015-tokyo #main #sessions .fold > .session h3{
  font-size:100%;
}
#sessions .fold > .session h3{
  margin-bottom: 0;
  display: inline-block;;
}
#sessions .fold > .session .name{
  display: inline-block;
  font-size: 100%;
}
#sessions .fold > .session .name:before{
  content: '/';
  margin: 0 .5rem;
}
#schedule,
#venue,
#registration{
  background-color: white;
}
#schedule ol{
  padding: 0;
  display: table;
  width: 100%;
}

#schedule ol > li{
  display: table-row;
  list-style: none;
  background-color: #F0F0E8;
}

#schedule ol > li > span{
  display: table-cell;
  padding: 1em;
  border-bottom: solid .5em white;
}
#schedule ol > li > .room{
  min-width: 13rem;
}
#schedule ol > li > .time{
  min-width: 8rem;
}

#devcon-2015-tokyo #schedule > header > h2,
#devcon-2015-tokyo #venue > header > h2,
#devcon-2015-tokyo #registration > header > h2{
  margin-bottom: 4rem;  
}
#devcon-2015-tokyo #venue > .container{
  position: relative;
}

#devcon-2015-tokyo #venue >.container >#map-overlay{
  position: absolute;
  z-index: 10;
  top: 5rem;
  left: 2rem;
  width: 18rem;
  background-color: white;
  padding: 1rem;
}
#devcon-2015-tokyo #venue >.container >#map-overlay h3{
  font-size: 100%;
  margin-bottom: 1rem;
}
#devcon-2015-tokyo #venue >.container >#map-overlay span{
  font-size: 80%;
  display: block;
}

#devcon-2015-tokyo #map{
  height: 24rem;
}

#devcon-2015-tokyo #registration{
  text-align: center;
}

#devcon-2015-tokyo #registration table{
  text-align: left;
  margin: auto;
}

#devcon-2015-tokyo #registration tr{
  background-color: #F0F0E8; 
}
#devcon-2015-tokyo #registration table th,
#devcon-2015-tokyo #registration table td{
  padding: 1rem;
  border-bottom: solid  .5rem white;
  vertical-align: top;
}

#devcon-2015-tokyo #registration .note{
  display: block;
  margin-top: 1rem;
}

@media screen and (min-width: 761px) and (max-width: 1000px){
  #devcon-2015-tokyo #main > header > h2,
  #devcon-2015-tokyo #main > header div.container,
  #devcon-2015-tokyo #main > nav > ul,
  #devcon-2015-tokyo #main > section > header,
  #devcon-2015-tokyo #main > section >  .container,
  #devcon-2015-tokyo #main > header > nav{
    width: 42rem;
  }
  #devcon-2015-tokyo #main > header > h2{
    height: 21rem;
  }
  #sessions .fold > .session h3 {
    display: block;
    margin-bottom: .5rem;
  }
  #sessions li.unfold:after,
  #sessions li.fold:after{
    top: 0;
  }
  #sessions .fold > .session .name:before{
    display: none;
  }
  #sessions .speaker .photo{
    min-width: 8rem;
  }
  #schedule ol{
    font-size: 80%;
  }
  #registration table{
    font-size: 80%;
  }
  #devcon-2015-tokyo #registration .note {
    display: block;
    margin-top: .5rem;
  }
}

@media screen and (min-width: 481px) and (max-width: 760px){
  html{
    font-size: 16px;
  }
  #devcon-2015-tokyo{
    font-size: 16px;
  }
  #devcon-2015-tokyo .speaker .photo{
    width: 8rem;
    min-width: 0;
  }
  #devcon-2015-tokyo #main > section h2{
    font-size: 298%;
  }
  #devcon-2015-tokyo #main > header > h2,
  #devcon-2015-tokyo #main > header div.container,
  #devcon-2015-tokyo #main > nav > ul,
  #devcon-2015-tokyo #main > header > nav,
  #devcon-2015-tokyo #main > section > header,
  #devcon-2015-tokyo #main > section >  .container,
  #devcon-2015-tokyo #main > header > nav{
    width: 29rem;
  }
  #devcon-2015-tokyo #main > header > h2{
    height: 14.5rem;
  }
  #sessions > ol > li{
    display: block;
    margin-bottom: 3rem;
  }
  #sessions > ol > li > div .time{
    display: inline-block;
    margin-left: .8rem;
  }
  #sessions .fold > .session h3 {
    display: block;
    margin-bottom: 0rem;
  }
  #sessions li.unfold:after,
  #sessions li.fold:after{
    font-size: 80%;
    top: .5rem;
    right: .5rem;
  }
  #sessions .fold > .session .name{
    font-size: 80%;
  }
  #sessions .fold > .session .name:before{
    display: none;
  }
  #sessions .session > .speaker{
   display: block; 
  }
  #sessions .session .photo{
    float: left;
    margin-right: 1rem;
  }
  #sessions .session .organization{
    display: block;
  }
  #sessions .session .profile{
    clear: both;
    padding-top: 1rem;
  }
  #schedule ol > li{
    display: flex;
    margin-bottom: .5rem;
  }
  #schedule ol > li > span{
    display: block;
    border-bottom: none;
  }
  #schedule ol > li > .time{
    min-width: 8rem;
    flex-grow: 1;
  }
  #schedule ol > li > .room{
    min-width: 0;
    max-width: 6rem;
    flex-grow: 1;
  }
  #schedule ol > li > .content{
    min-width: 6rem;
    flex-grow: 4;
  }
  #schedule ol > li:last-child .room{
    min-width: 6rem;
  }
  #devcon-2015-tokyo #venue > .container > #map-overlay{
    position: relative;
    top: auto;
    left: auto;
    width: 100%;
  }
  #devcon-2015-tokyo #venue > .container > #map-overlay h3{
    float: left;
  }
    #devcon-2015-tokyo #venue > .container > #map-overlay span{
     margin-left: 3rem 
  }
  #devcon-2015-tokyo #registration .note {
    display: block;
    margin-top: .5rem;
  }
  #registration table{
    font-size: 80%;
  }
  #registration .registration{
    margin: 3rem .25rem;
    font-size: 80%;
    padding: 1rem 2rem;
  }
}

@media screen and (max-width: 481px){
  html{
    font-size: 12px;
  }
  #devcon-2015-tokyo{
    font-size: 16px;
  }
  #devcon-2015-tokyo .speaker .photo{
    width: 8rem;
    min-width: 0;
    float: left;
  }
  #devcon-2015-tokyo .speaker .organization{
    display: block;
  }
  #devcon-2015-tokyo .speaker .profile{
    clear: both;
    padding-top: 1rem;
  }

  #devcon-2015-tokyo #main > section h2{
    font-size: 298%;
  }
  #devcon-2015-tokyo #main > header > h2,
  #devcon-2015-tokyo #main > header div.container,
  #devcon-2015-tokyo #main > header > nav,
  #devcon-2015-tokyo #main > nav > ul,
  #devcon-2015-tokyo #main > section > header,
  #devcon-2015-tokyo #main > section >  .container{
    width: 24rem;
  }
  #devcon-2015-tokyo #main > header > h2{
    height: 12rem;
  }
  #devcon-2015-tokyo #main > nav{
    font-size: 80%;
  }
  #devcon-2015-tokyo #main > nav > ul > li{
    min-width: 6em;
  }
  #keynotes .speaker > li{
    display: block;
  }
  #sessions > ol > li{
    display: block;
  }
  #sessions > ol > li > div .time{
    display: inline-block;
    margin-left: .8rem;
  }
  #sessions .fold > .session h3 {
    display: block;
    margin-bottom: 0rem;
  }
  #sessions li.unfold:after,
  #sessions li.fold:after{
    font-size: 80%;
    top: .5rem;
    right: .5rem;
  }
  #sessions .fold > .session .name{
    font-size: 80%;
  }
  #sessions .fold > .session .name:before{
    display: none;
  }
  #sessions > ol > li > ul > li.unfold{
    padding: 1rem;
  }
  #devcon-2015-tokyo #main > #sessions .unfold h3{
    font-size: 100%;
  }
  #devcon-2015-tokyo .unfold .speaker .name{
    font-size: 100%;
    margin-bottom: .5rem;
  }
  #devcon-2015-tokyo .unfold .speaker .organization,
  #devcon-2015-tokyo .unfold .speaker .title{
    font-size: 80%;
    margin: 0;
  }
  .unfold .speaker > div{
    padding-top: .5rem;
    line-height: 1;
  }
  .unfold p{
    font-size: 80%;
  }

  #sessions .session > .speaker{
   display: block; 
  }
  #sessions .session > .abstract > ul {
    font-size: 80%;
  }
  #schedule ol{
    font-size: 80%;
  }
  #schedule ol > li{
    display: flex;
    margin-bottom: .5rem;
  }
  #schedule ol > li > span{
    display: block;
    border-bottom: none;
  }
  #schedule ol > li > .time{
    min-width: 4em;
    max-width: 4em;
    flex-grow: 1;
  }
  #schedule ol > li > .room{
    min-width:0;
    max-width: 6rem;
    flex-grow: 1;
  }
  #schedule ol > li:last-child > .room{
    min-width: 6rem;
  }
  #schedule ol > li > .content{
    flex-grow: 5;
  }
  #devcon-2015-tokyo #venue > .container > #map-overlay{
    position: relative;
    top: auto;
    left: auto;
    width: 100%;
  }
  #devcon-2015-tokyo #venue > .container > #map-overlay h3{
   display: none;
  }
  #devcon-2015-tokyo #registration .note {
    display: block;
    margin-top: .5rem;
  }
  #registration table{
    font-size: 80%;
  }
  #registration .registration{
    margin: 3rem .125rem;
    font-size: 80%;
    padding: 1rem;
  }
}

[lang=en] #devcon-2015-tokyo .title:after{
  content: ", ";
}
[lang=en] #schedule ol > li > .room{
  min-width: 15rem;
  flex-shrink: 1
}
@media screen and (min-width: 481px) and (max-width: 760px){
  [lang=en] #devcon-2015-tokyo #venue > .container > #map-overlay span{
    margin-left: 0;   
  }
}