#wrapper {
  background: #FFF url(/static/images/events/devcon/2012/osaka/wrapper-bg-20120523.jpg) no-repeat center top;
}

#nav-main h1,
#nav-main-menu {
  display: none !important;
}

#main-feature {
  margin-bottom: 0;
  padding: 0;
  width: auto;
  height: 450px;
}

#main-feature h1 {
  text-indent: -99999px;
}

.social-buttons {
  position: absolute;
  top: 444px;
}

.social-buttons h2 {
  position: absolute;
  left: -99999px;
}

.social-buttons ul {
  margin: 0;
}

.social-buttons li {
  float: left;
  margin: 0 0 0 12px;
  padding: 0;
  background: none;
}

.social-buttons div iframe {
  margin-left: 0;
}

.social-buttons .twitter-share-button {
  margin-right: 0 !important;
  width: 104px !important;
}

.social-buttons #___plusone_0 {
  width: 80px !important;
}

#main-content {
  float: none;
  margin: 0;
  border-radius: 8px;
  padding: 40px;
	width: auto;
  background: #E0F7F9;
}

#main-content > section {
  margin-top: 40px;
}

#main-content h2 {
  height: 36px;
  background: url(/static/images/events/devcon/2012/osaka/sprite.png) no-repeat;
  text-indent: -99999px;
}

#main-content h3 {
  border-left: 4px solid #52C2C9;
  padding-left: 8px;
  color: #25A4AC;
  font-size: 18px;
}

#sec-overview {
	float: left;
	margin: 0 0 40px !important;
	width: 400px;
}

#sec-overview h2 {
  height: 32px;
}

#sec-overview em {
	font-style: normal;
  text-decoration: underline;
}

#sec-about {
	float: right;
	margin: 0 0 40px !important;
	width: 400px;
}

#sec-about h2 {
  height: 32px;
  background-position: -400px 0;
}

#sec-about dl {
	overflow: hidden;
}

#sec-about dt {
  clear: both;
	float: left;
	width: 8em;
}

#sec-about dt:after {
  display: block;
  float: right;
	content: "：";
}

#sec-about dd {
  margin-left: 9em;
	width: 300px;
}

#sec-entry,
#sec-program {
  clear: both;
}

#sec-entry h2 {
  background-position: 0 -32px;
}

.entry-button {
	width: 280px;
	height: 92px;
	margin: 24px auto 40px;
}

.entry-button h3 {
  margin: 0;
  border: 0 !important;
  padding: 0 !important;
  height: 100%;
}

.entry-button a {
  display: block;
  outline: none;
  width: 100%;
  height: 100%;
  background: url(/static/images/events/devcon/2012/osaka/sprite.png) no-repeat 0 -140px;
  text-indent: -99999px;
}

.entry-button a:hover {
  background-position: -280px -140px;
}

#sec-program h2 {
  background-position: 0 -68px;
}

#sec-program section {
	margin: 24px 0;
}

#sec-program table {
  border: 1px solid #52C2C9;
  border-collapse: collapse;
  border-spacing: 0;
}

#sec-program table th {
  border: #E3E3E3 solid;
  border-width: 0 0 1px 1px;
  padding: 16px;
	color: #FFF;
  background: #52C2C9;
  line-height: 1.2;
  font-weight: bold;
  text-align: center;
}

#sec-program tbody th {
	width: 100px;
}

#sec-program tbody td {
  border: 1px #52C2C9 solid;
  border-width: 0 0 1px 1px;
  padding: 16px;
	background: #FFF;
}

#sec-program tbody [itemprop="subEvent"] {
  margin: 0;
}

#sec-program tbody h4 {
	margin: 4px 0;
	color: #25A4AC;
	font-size: 18px;
}

#sec-program tbody [itemprop="subEvent"] section {
  margin: 8px 0;
}

#sec-program tbody h5 {
	margin: 10px 0;
	padding: 2px 8px;
	width: 735px;
	background-color: #D4F8F5;
}

#sec-program tbody p,
#sec-program .speakers ul {
  overflow: hidden;
  margin: 8px;
}

#sec-program [itemprop="performer"] {
	float: left;
	margin: 0;
  padding: 0;
  width: 240px;
  background: none;
}

#sec-program [itemprop="performer"] a {
  display: block;
  outline: 0;
  padding-left: 64px;
}

#sec-program [itemprop="performer"] [itemprop="image"] {
	float: left;
	margin-left: -64px;
  border: 1px solid #ACACAC;
	width: 48px;
  height: 48px;
}

#sec-program [itemprop="performer"] span {
  display: block;
  line-height: 1.5;
}

#sec-program .video-link {
  overflow: hidden;
  display: block;
  width: 150px;
  height: 34px;
  background-image: url(/static/images/general/videos/play-button-label.png); text-indent: -99999px;
}

#sec-speakers h2 {
  background-position: 0 -104px;
}

#sec-speakers [itemprop="performer"] {
  overflow: auto;
  clear: both;
  margin-top: 24px;
  border-bottom: 1px solid #FFF;
  padding: 0 0 24px 160px;
}

#sec-speakers [itemprop="performer"]:last-of-type {
  border: 0;
  padding-bottom: 0;
}

#sec-speakers [itemprop="image"] {
  float: left;
  margin-left: -160px;
}

#speaker-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
  width: 100%;
  height: 100%;
  color: #FFF;
  background: rgba(0,0,0,0.7);
  cursor: default;
}

#speaker-overlay[aria-hidden="true"] {
  display: none;
}

#speaker-overlay .frame {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -280px 0 0 -280px;
  width: 560px;
  height: 560px;
  color: #333;
  background: #FFF;
}

#speaker-overlay .close {
  position: absolute;
  top: 0;
  left: 0;
  padding: 8px;
  width: 544px;
  height: 16px;
  line-height: 16px;
  text-align: right;
}

#speaker-overlay .content {
  overflow: auto;
  overflow-x: hidden;
  overflow-y: auto;
  margin-top: 32px;
  padding: 8px 40px 40px 40px;
  height: 480px;
  text-align: left;
}

#speaker-overlay [itemprop="image"] {
  float: left;
}

#speaker-overlay header {
  position: relative;
  overflow: hidden;
}

#speaker-overlay header div {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 320px;
}

#speaker-overlay header span {
  line-height: 1.5;
}

#speaker-overlay h3 {
  margin-bottom: 4px;
  border-bottom: 2px solid #ADFF00;
  height: 50px;
  background: url(/static/images/events/devcon/2012/osaka/profile.png) no-repeat right top;
  font-size: 12px;
}

#speaker-overlay h3 span {
  display: block;
}

#speaker-overlay h3 [itemprop="name"] {
  font-size: 18px;
}

#speaker-overlay [itemprop="description"] {
  position: relative;
  clear: both;
  margin: 40px 0 0;
  border: 2px solid #ADFF00;
  padding: 24px;
}

#speaker-overlay [itemprop="description"]:before {
  display: block;
  position: absolute;
  top: -28px;
  left: 40px;
  width: 54px;
  height: 28px;
  background: url(/static/images/events/devcon/2012/osaka/profile.png) no-repeat left bottom;
  content: "";
}
