.social-buttons{
    margin: 0.5em 0;
}
.social-buttons  > ul{
    padding: 0;
}
.social-buttons li{
    background-image: none;
    padding: 0;
    display: inline-block;
    vertical-align: top;
}
.social-buttons .twitter{
    width: 80px;
}
.social-buttons .facebook{
    width: 80px;
}
.social-buttons .google-plus{
    width: 45px;
}
.description em{
	font-style: normal;
	font-weight: bold;
	text-decoration: none;
}

#wrapper {
  background: #FFF;
}
#globalheader{
    margin-bottom: 1em;
}
#doc{
    font-size: 16px;
}
#main-feature {
    margin: 0;
    padding: 0;
    width: auto;
    height: 416px;
    background: transparent url(/static/images/events/devcon/2014/kyoto/wrapper-bg.png) no-repeat center top;
}
#main-feature h1 {
  text-indent: -99999px;
}
#main-content {
    float: none;
    margin: 0;
    margin-top: 2em;
    border-radius: 8px;
    padding: 1.5em 2em 2.5em 2em;
    width: auto;
    background: #f5eaef;
}

#main-content > section {
    margin: 0;
    margin-top: 40px;
}

#main-content > section:first-child{
    margin-top: 0;
}

#main-content h2 {
    background-color: black;
    color: white;
    font-size: 112.5%;
    padding: 0.5em 1em;
}

#main-content h3 {
  border-left: 4px solid #a87da0;
  padding-left: 8px;
  color: #814475;
  font-size: 125%;
}

#sec-overview em {
	font-style: normal;
	text-decoration: underline;
}

#sec-about dt {
	clear: both;
	float: left;
	width: 8em;
	text-align: right;
}

#sec-about dd {
	margin-left: 9em;
}

#sec-about dt, #sec-about dd{
    padding: 0.5em 0;
    border-top: dotted 1px #ccc;
}
#sec-about dt:first-child, #sec-about dd:nth-child(2){
    border-top: none;
}

#sec-about dd li{
	background: none;
	padding-left: 0;
}

#sec-preliminary {
	margin: 0 0 100px !important;
}

#sec-preliminary p {
  font-size: 16px;
  line-height: 1.5;
  font-weight: bold;
}

.entry-button {
	width: 280px;
	height: 92px;
	margin: 24px auto 40px;
}

.entry-button h3 {
  margin: 0;
  border: 0 !important;
  padding: 0 !important;
  height: 100%;
}

.entry-button a {
  display: block;
  outline: none;
  width: 100%;
  height: 100%;
  background: url(/static/images/events/devcon/2014/kyoto/sprite.png) no-repeat 0 -140px;
  text-indent: -99999px;
}

.entry-button a:hover {
  background-position: -280px -140px;
}

#sec-program section {
	margin: 24px 0;
}

#sec-program table {
  font-size: 12px;/*テーブル内テキスト調整のため追記*/
  line-height: 1.5;/*テーブル内テキスト調整のため追記*/
  border: 1px solid #a87da0;/*パープル*/
  /*border: 1px solid #1292d5;*//*ブルー*/
  border-collapse: collapse;
  border-spacing: 0;
}

#sec-program table th {
  border: #E3E3E3 solid;
  border-width: 0 0 1px 1px;
  padding: 16px;
	color: #FFF;
  background: #a87da0;/*パープル*/
  /*background: #1292d5;*//*ブルー*/
  line-height: 1.2;
  font-weight: bold;
  text-align: center;
}

#sec-program tbody th {
	width: 100px;
}

#sec-program tbody td {
  border: 1px #a87da0 solid;/*パープル*/
  /*border: 1px #1292d5 solid;*/*ブルー*/
  border-width: 0 0 1px 1px;
  padding: 16px;
	background: #FFF;
}

#sec-program tbody [itemprop="subEvent"] {
  margin: 0;
}

#sec-program tbody h4 {
	margin: 4px 0;
	color: #814475;/*パープル*/
	/*color: #333;*//*ブラック*/
	font-size: 18px;
}

#sec-program tbody [itemprop="subEvent"] section {
  margin: 8px 0;
}

#sec-program tbody h5 {
	margin: 10px 0;
	padding: 2px 8px;
	width: 735px;
	background-color: #f5eaef;/*パープル*/
	/*background-color: #e0f1f8;*//*ブルー*/
}

#sec-program tbody p,
#sec-program .speakers ul {
  overflow: hidden;
  margin: 8px;
}

#sec-program [itemprop="performer"] {
	float: left;
	margin: 0;
  padding: 0;
  width: 240px;
  background: none;
}

#sec-program [itemprop="performer"] a {
  display: block;
  outline: 0;
  padding-left: 64px;
}

#sec-program [itemprop="performer"] [itemprop="image"] {
	float: left;
	margin-left: -64px;
  border: 1px solid #ACACAC;
	width: 48px;
  height: 48px;
}

#sec-program [itemprop="performer"] span {
  display: block;
  line-height: 1.5;
}

#sec-program .video-link {
  overflow: hidden;
  display: block;
  width: 150px;
  height: 34px;
  background-image: url(/static/images/general/videos/play-button-label.png); text-indent: -99999px;
}

#sec-speakers h2 {
  background-position: 0 -104px;
}

#sec-speakers [itemprop="performer"] {
  overflow: auto;
  clear: both;
  margin-top: 24px;
  border-bottom: 1px solid #FFF;
  padding: 0 0 24px 160px;
}

#sec-speakers [itemprop="performer"]:last-of-type {
  border: 0;
  padding-bottom: 0;
}

#sec-speakers [itemprop="image"] {
  float: left;
  margin-left: -160px;
}

#speaker-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
  width: 100%;
  height: 100%;
  color: #FFF;
  background: rgba(0,0,0,0.7);
  cursor: default;
}

#speaker-overlay[aria-hidden="true"] {
  display: none;
}

#speaker-overlay .frame {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -280px 0 0 -280px;
  width: 560px;
  height: 560px;
  color: #333;
  background: #FFF;
}

#speaker-overlay .close {
  position: absolute;
  top: 0;
  left: 0;
  padding: 8px;
  width: 544px;
  height: 16px;
  line-height: 16px;
  text-align: right;
}

#speaker-overlay .content {
  overflow: auto;
  overflow-x: hidden;
  overflow-y: auto;
  margin-top: 32px;
  padding: 8px 40px 0 40px;
  height: 520px;
  text-align: left;
}

#speaker-overlay [itemprop="image"] {
  float: left;
}

#speaker-overlay header {
  position: relative;
  overflow: hidden;
}

#speaker-overlay header div {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 320px;
}

#speaker-overlay header span {
  line-height: 1.5;
}

#speaker-overlay h3 {
  margin-bottom: 4px;
  border-bottom: 2px solid #d2a52c;
  height: 50px;
  background: url(/static/images/events/devcon/2014/kyoto/profile.png) no-repeat right top;
  font-size: 12px;
}

#speaker-overlay h3 span {
  display: block;
}

#speaker-overlay h3 [itemprop="name"] {
  font-size: 18px;
}

#speaker-overlay [itemprop="description"] {
  position: relative;
  clear: both;
  margin: 40px 0 0;
  border: 2px solid #d2a52c;
  padding: 24px;
}

#speaker-overlay [itemprop="description"]:before {
  display: block;
  position: absolute;
  top: -28px;
  left: 40px;
  width: 54px;
  height: 28px;
  background: url(/static/images/events/devcon/2014/kyoto/profile.png) no-repeat left bottom;
  content: "";
}


@media only screen and (min-width: 761px) and (max-width: 1000px){
    #main-feature{
        background-image: url(/static/images/events/devcon/2014/kyoto/wrapper-bg-736.png);
        height: 318px;
    }
	#sec-program tbody h5{
		width: auto;
	}
	#sec-program [itemprop="performer"]{
		width: 100%;
		margin-bottom: .75em;
	}
}

@media only screen and (min-width: 481px) and (max-width: 760px){
    #main-feature{
        background-image: url(/static/images/events/devcon/2014/kyoto/wrapper-bg-440-20140325.png);
        background-size: contain;
        height: 210px;
    }
    #main-content{
        margin-top: 1em;
    }
	#sec-about dt{
		text-align: left;
		font-weight: bold;
		margin-bottom: .5em;
		padding: 0;
		padding-left: .5em;
		border-top: none;
		border-left: 4px solid #A87DA0;
		float: none;
	}
	#sec-about dd{
		float: none;
		margin: 0;
		border-top: none;
		padding: 0;
		margin-bottom: 2.5em;
	}

	#sec-program tbody h5{
		width: auto;
	}
	#sec-program [itemprop="performer"]{
		width: 100%;
		margin-bottom: .75em;
	}
	#sec-program tbody th {
		width: 4em;
	}
}

@media only screen and (max-width: 480px){
	#doc{
		font-size: 14px;
	}
    #main-feature{
        background-image: url(/static/images/events/devcon/2014/kyoto/wrapper-bg-320-20140325.png);
        background-size: contain;
        height: 157px;
    }
    #sec-preliminary h2:after{
        display: none;
        margin-left: 0;
    }
	#sec-about dt{
		text-align: left;
		font-weight: bold;
		margin-bottom: .5em;
		padding: 0;
		padding-left: .5em;
		border-top: none;
		border-left: 4px solid #A87DA0;
		float: none;
	}
	#sec-about dd{
		float: none;
		margin: 0;
		border-top: none;
		padding: 0;
		margin-bottom: 2.5em;
	}

	#sec-program tbody h5{
		width: auto;
	}
	#sec-program [itemprop="performer"]{
		width: 100%;
		margin-bottom: .75em;
	}
    #sec-program thead{
        display: none;
    }
    #sec-program table{
        display: block;
        border: none;
    }
	#sec-program tbody th {
        display: block;
		width: auto;a
	}
    #sec-program tbody td{
        display: block;
        border: none;
    }
}