#doc > #events header{
  margin-top: 4em;
}

#doc > #events header h1{
  font-size: 100%;
}

#doc > #events header h1 em{
  text-decoration: none;
  display: inline-block;
}

#doc > #events header h1 span{
  display: block;
}

#doc > #events header h1 .main-title{
  font-size: 240%;
}

#doc > #events header h1 .sub-title{
  font-size: 140%;
  margin-top: .25em;
}

#doc > #events header h1 .date{
  font-size: 80%;
  text-align: right;
  margin-bottom: 4em;
}

#doc > #events header #lead,
#doc > #events header #fixed-menu,
#events #main section{
  margin: 0;
  margin-top: 4em;
  padding: 4em;
  background-color: white;
  background-color:  rgba(255, 255, 255, .9);
  border-radius: 4px;
}

.fixed  #doc >  header #fixed-menu{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 80%;
  text-align: center;
  background-color: white;
}

.fixed #events #doc > header #fixed-menu h2{
  display: none;
}

.fixed #events #doc > header #fixed-menu > ul{
  margin: 0;
  padding: 0;
}

.fixed #events #doc > header #fixed-menu > ul > li{
  background: none;
  display: inline-block;
  padding: 1em;
}

#events #main h2{
  font-size: 200%;
  margin-bottom: 0;
}

#events #main h3{
  font-size: 141%;
  margin-top: 2.84em;
  margin-top: 4rem;
}

#events .speaker{
  display: block;
  font-size: 80%;
  margin-top: .5em;
  margin-top: 0.4rem;
  margin-bottom: 3.75em;
  margin-bottom: 3rem;
}

#events .figure{
  text-align: center;
  margin-top: 2em;
  margin-bottom: 2em;
}

#events .figure img{
  width: 80%;
}

#events .figcaption{
  font-size: 80%;
  text-align: center;
  margin-top: -2em;
}

#events .note{
  font-size: 80%;
  border: dotted 1px #484848;
  padding: 1em;
  margin: 2em 0;
}

#events #q-and-a p{
  margin-left: 3em;
  text-indent: -3em;
}

#events #q-and-a .question:before{
  content: "質問：";
}

#events #q-and-a .answer:before{
  content: "回答：";
}

#events #q-and-a .cf{
  text-indent: 0;
}

#see-also ul ul{
  margin-top: 0;
}

@media only screen and (min-width: 481px) and (max-width: 760px) {
  #doc > header h1 .main-title{
    font-size: 141%;
  }
  #doc > header h1 .sub-title{
    font-size: 100%;
    margin-top: .25em;
  }

  #doc > header #lead,
  #events #doc > header #fixed-menu,
  #events #main section{
    padding: 2em;
  }

  #events.fixed #doc > header #fixed-menu{
    top: auto;
    bottom: 0;
    left: 0;
    font-size: 80%;
  }
  #events.fixed #doc > header #fixed-menu > ul > li{
    padding: 0.5em 1em;
  }
  #events #main h2{
    font-size: 141%;
    margin-bottom: 0;
  }

  #events #main h3{
    font-size: 120%;
    margin-top: 3.33em;
    margin-top: 4rem;
  }
}

@media only screen and (max-width: 480px) {
  #events #doc > header h1 .main-title{
    font-size: 141%;
  }
  #events #doc > header h1 .sub-title{
    font-size: 100%;
    margin-top: .25em;
  }

  #events #doc > header #lead,
  #events #doc > header #fixed-menu,
  #events #main section{
    padding: 1em;
    margin-top: 2em;
  }
  #events.fixed #doc > header #fixed-menu{
    top: auto;
    bottom: 0;
    left: 0;
    font-size: 80%;
  }
  #events.fixed #doc > header #fixed-menu > ul > li{
    padding: 0.5em 1em;
  }
  #events #main h2{
    font-size: 141%;
    margin-bottom: 0;
  }
  #events #main h3{
    font-size: 120%;
    margin-top: 3.33em;
    margin-top: 4rem;
  }
  #events #q-and-a p{
    margin-left: 0;
    text-indent: 0;
  }
  #events #q-and-a .question:before{
    display: block;
  }
  #events #q-and-a .answer:before{
    display: block;
  }
}