body {
  background-color: #000 !important;
  background-attachment: fixed !important;
  background-repeat: no-repeat !important;
  background-position: center top !important;
}

main h1,
main h2,
main h3 {
  text-shadow: inherit;
}

main ul li {
  margin: 0 0 0 16px;
  padding: 0 0 0 4px;
  background: none;
  list-style-type: disc;
}

main a:link,
main a:visited,
main a:hover,
main a:focus,
main a:active {
  color: #15AAFB !important;
}

#nav-main .toggle,
#nav-main-menu {
  display: none !important;
}

#wrapper {
  background: linear-gradient(to bottom, rgba(0, 0, 0, .2), rgba(0, 0, 0, .6) 600px) center top;;
}

#doc {
  width: 100%;
  color: rgba(255, 255, 255, .9);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, .6);
}

main .outer {
  overflow: hidden;
}

main .inner {
  margin: 0 auto;
  width: 960px;
}

main .inner > * {
  margin: 16px;
}

main .inner > section {
  margin: 48px 16px;
}

main .inner > section section {
  margin: 32px 0 0;
}

main .columns {
  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-count: 2;
  -moz-column-gap: 32px;
  -webkit-column-gap: 32px;
  column-gap: 32px;
}

main h1 span,
main h2 span,
main h3 span {
  display: inline-block;
}

#main-header {
  text-align: center;
}

#main-header h1 {
  margin: 32px 0 32px;
  font-size: 40px;
}

#main-header h1 strong {
  display: block;
  margin: 8px 0;
  font-weight: normal;
}

#main-header h1 [itemprop="name"] {
  font-size: 64px;
}

#main-header p {
  font-size: 16px;
}

a.cta {
  display: inline-block;
  border-radius: 8px;
  padding: 12px 40px;
  font-size: 20px;
  text-shadow: none;
  transition: all .25s;
}

a.cta:link,
a.cta:visited {
  color: #FFF !important;
  background: #0095DD;
}

a.cta:hover,
a.cta:focus,
a.cta:active {
  color: #0095DD !important;
  background: #FFF;
  text-decoration: none;
}

.vol {
  border-radius: .3em;
  padding: 0 .5em;
  color: #333;
  background: rgba(255, 255, 255, .9);
  font-size: .9em;
  line-height: 1.5em;
  text-shadow: none;
  word-spacing: -.2em;
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  main .inner {
    width: 768px;
  }
}

@media only screen and (max-width: 767px) {
  main .inner {
    width: 100%;
  }

  main .inner > section {
    margin: 32px 16px;
  }

  #main-header h1 {
    font-size: 24px;
  }

  #main-header h1 [itemprop="name"] {
    font-size: 40px;
  }

  main .columns {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
  }

  main .columns > *:not(:first-child) {
    margin: 16px 0 0;
  }
}

/* Landing */

body#landing {
  background-image: url(/static/images/events/tech-talks/bg-photo-1.jpg) !important;
}

body#landing #main-header .inner {
  margin: 40px auto 0;
}

#upcoming h2 {
  position: absolute;
  left: -99999px;
}

#archive h2 {
  text-align: center;
}

#events .event a {
  display: flex;
  position: relative;
  outline: 0;
  width: 100%;
  flex-direction: column-reverse;
  justify-content: center;
  background-color: rgba(255, 255, 255, .1);
  transition: all .4s;
}

#upcoming .event a {
  height: 200px;
}

#archive .event a {
  padding: 24px;
  height: auto;
}

#events .event a:hover,
#events .event a:focus,
#events .event a:active {
  transform: scale(1.02);
  animation: .8s linear 0s infinite alternate blink;
}

#events .event a,
#events .event a * {
  color: inherit !important;
  text-decoration: none !important;
}

#upcoming .event a > * {
  margin: 4px 32px 4px 232px;
}

#archive .event a > * {
  margin: 0;
}

#upcoming .event img {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 200px;
}

#archive .event img {
  display: none;
}

#upcoming .event h3 {
  font-size: 24px;
  line-height: 1.5;
}

#events .event h3 strong {
  display: block;
  font-weight: normal;
}

#archive .event h3 strong:not([itemprop="name"]) {
  display: none;
}

#upcoming .event h3 [itemprop="name"] {
  font-size: 36px;
  line-height: 1.2;
}

#archive .event h3 [itemprop="name"] {
  margin: 0 0 4px;
  font-size: 32px;
}

#events .event h3 span {
  display: inline-block;
}

#events .event li {
  display: inline-block;
  margin: 0 0 0 16px;
  padding: 0;
  line-height: 1.2em;
}

#upcoming .event li {
  font-size: 20px;
}

#archive .event li {
  font-size: 16px;
}

#events .event .vol {
  margin: 0;
  padding: 0 .5em;
  color: #333 !important;
  line-height: 1.5em;
}

#events .event [itemprop="location"] {
  display: none;
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  #upcoming .event h3 {
    font-size: 20px;
  }

  #upcoming .event h3 [itemprop="name"] {
    font-size: 32px;
  }

  #upcoming .event li {
    font-size: 16px;
  }
}

@media only screen and (max-width: 767px) {
  body#landing #main-header .inner {
    margin: 0 auto;
  }

  #upcoming .event h3 {
    font-size: 16px;
  }

  #upcoming .event h3 [itemprop="name"] {
    font-size: 28px;
  }

  #archive .event h3 [itemprop="name"] {
    font-size: 24px;
  }
}

@media only screen and (max-width: 639px) {
  #upcoming .event a {
    display: block;
    overflow: hidden;
    padding: 176px 0 0;
    height: auto;
  }

  #upcoming .event a > * {
    margin: 16px;
  }

  #upcoming .event img {
    top: 16px;
    left: 16px;
    width: 160px;
    height: 160px;
  }
}

@media only screen and (max-width: 767px) and (max-height: 767px) {
  body#landing {
    background-size: auto auto, 1200px 800px;
  }
}

@keyframes blink {
  from { background-color: rgba(255, 255, 255, .1); }
  to { background-color: rgba(255, 255, 255, .2); }
}

/* Details */

body#details {
  background-image: url(/static/images/events/tech-talks/bg-photo-4.jpg) !important;
}

body#details h2 {
  margin: 0 0 32px;
  text-align: center;
}

body#details h2 [itemprop="name"] {
  font-size: 48px;
}

body#details #main-header .inner {
  margin: 40px auto 80px;
}

body#details #main-header h2 {
  position: relative;
  padding: 16px;
  font-size: 24px;
  font-family: inherit;
}

body#details #main-header h2::before,
body#details #main-header h2::after {
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  height: 1px;
  overflow: hidden;
  content: "";
  background: linear-gradient(to right, rgba(255, 255, 255, .1) 0%, rgba(255, 255, 255, .6) 50%, rgba(255, 255, 255, .1) 100%);
}

body#details #main-header h2::before {
  top: 0;
}

body#details #main-header h2::after {
  bottom: 0;
}

body#details #main-header h2 a {
  color: inherit !important;
  text-decoration: none !important;
}

body#details #main-header h2 a span {
  display: inline-block;
  text-decoration: none !important;
}

body#details #main-header h2 .vol {
  margin: 0 4px;
  font-size: 20px;
  vertical-align: bottom;
}

body#details #main-header header ~ div {
  overflow: hidden;
  margin: 40px 80px;
}

body#details #main-header .cta-wrapper {
  float: right;
  margin: 0;
}

body#details #main-header a.cta {
  margin: 80px 0;
}

body#details #main-header ul {
  margin: 0;
  font-size: 16px;
  text-align: left;
}

body#details #main-header li {
  margin: 2px 0;
  padding: 0;
  list-style-type: none;
}

body#details #main-header ins {
  color: #FA486F;
  text-decoration: none;
}

#overview-outer {
  background: #2E3A42;
}

#overview .columns > div {
  overflow: hidden;
  page-break-inside: avoid;
  break-inside: avoid;
}

#overview .outline {
  padding: 32px;
  font-weight: bold;
  background: rgba(0, 0, 0, .2);
  box-shadow: 0 0 8px rgba(0, 0, 0, .1);
}

#overview .outline ul ul {
  font-weight: normal;
}

#background-outer {
  background: #414F5C url(/static/images/events/tech-talks/bg-tile-1.png);
}

#audiences-outer {
  background: #000 url(/static/images/events/tech-talks/bg-photo-2.jpg) no-repeat fixed center top;
}

#audiences {
  text-align: center;
}

#audiences li {
  margin: 8px 0;
  padding: 0;
  list-style-type: none;
}

#instructor-outer {
  color: #333;
  background: #F1EEE7;
  text-shadow: none;
}

#instructor .columns header {
  overflow: hidden;
  margin: 0 0 16px;
}

#instructor .columns header img {
  float: left;
  margin-right: 16px;
}

#instructor .columns header img ~ * {
  margin: 8px 0 0;
}

#instructor .columns header span {
  display: inline-block;
}

#reservation {
  text-align: center;
}

#reservation table {
  border-collapse: collapse;
  table-layout: fixed;
  box-shadow: 0 0 8px rgba(0, 0, 0, .1);
}

#reservation th,
#reservation td {
  border: solid #111;
  border-width: 1px;
  padding: 12px;
  width: 50%;
  margin: 4px;
  text-align: center;
}

#reservation th {
  background: #212121;
}

#reservation td {
  background: #313131;
}

#reservation strong {
  font-size: 16px;
}

@media only screen and (max-width: 1023px) {
  body#details #main-header header ~ div {
    overflow: visible;
    margin: 40px 16px;
  }

  body#details #main-header .cta-wrapper {
    float: none;
    margin: 0 0 32px;
  }

  body#details #main-header ul {
    float: none;
    margin: 0;
  }

  body#details #main-header ul {
    display: inline-block;
  }

  body#details #main-header a.cta {
    margin: 0;
  }

  #instructor .columns header span {
    display: inline;
  }
}

@media only screen and (max-width: 767px) {
  body#details h2 {
    font-size: 40px;
  }

  body#details #main-header .inner {
    margin: 0 auto;
  }

  body#details #main-header h2 {
    font-size: 16px;
  }

  #instructor .columns header img {
    width: 160px;
    height: 160px;
  }
}

@media only screen and (max-width: 767px) and (max-height: 767px) {
  body#details {
    background-position: -320px -120px !important;
  }

  body#landing,
  body#details,
  #audiences-outer {
    background-size: 1200px 800px !important;
  }
}
