/* --------------------------------------------------------------------------
 * screen
 * -------------------------------------------------------------------------- */

@media screen {

#main-feature div.hgroup {
  margin: 32px;
}

#main-feature div.hgroup h1 {
  margin-bottom: 8px;
}

#main-content {
  float: none;
  width: auto;
}

#main-content > section {
  margin: 0 0 32px;
  border-bottom: 1px solid #DDD;
  padding: 32px;
  background: #FFF;
}

#main-content h2 {
  font-size: 32px;
}

#main-content h3 {
  margin-top: 24px;
  font-size: 24px;
}

} /* end @media screen */

/* --------------------------------------------------------------------------
 * mobile
 * -------------------------------------------------------------------------- */

@media only screen and (max-width: 760px) {

#main-content > section {
  padding: 16px;
}

} /* end media query */
