/* --------------------------------------------------------------------------
 * screen
 * -------------------------------------------------------------------------- */

@media screen {

#main article {
  position: relative;
  overflow: hidden;
}

#main-feature > h1,
#main-feature div.hgroup {
  margin: 0 32px 32px;
}

#main-feature div.hgroup h1 {
  margin-bottom: 8px;
}

#main-feature h2 {
  font-size: 24px;
}

#main-feature p {
  margin-right: 304px;
}

#main-feature .switcher {
  position: absolute;
  bottom: 0;
  right: 16px;
  width: 256px;
  background: transparent;
  text-align: center;
}

#main-feature .switcher h2 {
  margin: 0 0 4px 0;
  padding: 0;
  height: auto;
  font-size: 12px;
  line-height: 1.4;
}

#main-feature .switcher ul {
  overflow: hidden;
  margin: 0;
  border-radius: 8px;
  padding: 4px;
  background: rgb(207,218,230);
  background: rgba(207,218,230,0.27);
  box-shadow: 0 3px 3px rgba(126,137,147,0.64) inset, 0 1px rgba(185,197,204,0.64);
}

#main-feature .switcher li {
  float: left;
  margin: 0;
  padding: 0;
  width: 50%;
  background: none;
}

#main-feature .switcher li * {
  display: block;
  padding: 12px 16px;
  font-size: 12px;
  font-weight: 600;
}

#main-feature .switcher li span {
  border-bottom: 1px solid #22366D;
  color: #506AA1;
  background: rgb(26,47,90); /* Old browsers */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1A2F5A', endColorstr='#254790',GradientType=0); /* IE9 */
  background:    -moz-linear-gradient(top, rgba(26,47,90,1) 14%, rgba(37,71,144,1) 95%); /* FF3.6+ */
  background:     -ms-linear-gradient(top, rgba(26,47,90,1) 14%,rgba(37,71,144,1) 95%); /* IE10+ */
  background:      -o-linear-gradient(top, rgba(26,47,90,1) 14%,rgba(37,71,144,1) 95%); /* Opera 11.10+ */
  background:        -webkit-gradient(linear, left top, left bottom, color-stop(14%,rgba(26,47,90,1)), color-stop(95%,rgba(37,71,144,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(26,47,90,1) 14%,rgba(37,71,144,1) 95%); /* Chrome10+,Safari5.1+ */
  background:         linear-gradient(top, rgba(26,47,90,1) 14%,rgba(37,71,144,1) 95%); /* W3C */
  box-shadow: inset 0 2px 1px #0B1B41;
  text-shadow: 0 1px rgba(28,54,112,0.34);
}

#main-feature .switcher li a {
  border-bottom: 1px solid rgba(43,58,153,0.55);
  color: #FFF;
  background: rgb(124,169,244); /* Old browsers */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7CA9F4', endColorstr='#2E4E99',GradientType=0 ); /* IE9 */
  background:    -moz-linear-gradient(top, rgba(124,169,244,1) 0%, rgba(75,121,198,1) 3%, rgba(46,78,153,1) 100%); /* FF3.6+ */
  background:     -ms-linear-gradient(top, rgba(124,169,244,1) 0%,rgba(75,121,198,1) 3%,rgba(46,78,153,1) 100%); /* IE10+ */
  background:      -o-linear-gradient(top, rgba(124,169,244,1) 0%,rgba(75,121,198,1) 3%,rgba(46,78,153,1) 100%); /* Opera 11.10+ */
  background:        -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(124,169,244,1)), color-stop(3%,rgba(75,121,198,1)), color-stop(100%,rgba(46,78,153,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(124,169,244,1) 0%,rgba(75,121,198,1) 3%,rgba(46,78,153,1) 100%); /* Chrome10+,Safari5.1+ */
  background:         linear-gradient(top, rgba(124,169,244,1) 0%,rgba(75,121,198,1) 3%,rgba(46,78,153,1) 100%); /* W3C */
  box-shadow: inset 0 -2px rgba(0,0,0,0.18);
  text-shadow: 0 1px 0 rgba(0,0,0,0.35);
}

#main-feature .switcher li:first-child * {
  border-radius: 6px 0 0 6px;
  border-right: 1px solid #506AA1;
}

#main-feature .switcher li:last-child * {
  border-radius: 0 6px 6px 0;
}

#main-content section {
  margin-bottom: 32px;
}

#main-content section > h2 {
  margin-bottom: 2px;
  border: 1px solid #9ABED9;
  border-radius: 6px 6px 2px 2px;
  padding: 16px 24px;
  color: #465875;
  background: rgb(255,255,255); /* Old browsers */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#ECF1F9',GradientType=0 ); /* IE9 */
  background:    -moz-linear-gradient(top, rgba(255,255,255,0.61) 75%, rgba(236,241,249,0.61) 100%); /* FF3.6+ */
  background:     -ms-linear-gradient(top, rgba(255,255,255,0.61) 75%,rgba(236,241,249,0.61) 100%); /* IE10+ */
  background:      -o-linear-gradient(top, rgba(255,255,255,0.61) 75%,rgba(236,241,249,0.61) 100%); /* Opera 11.10+ */
  background:        -webkit-gradient(linear, left top, left bottom, color-stop(75%,rgba(255,255,255,0.61)), color-stop(100%,rgba(236,241,249,0.61))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(255,255,255,0.61) 75%,rgba(236,241,249,0.61) 100%); /* Chrome10+,Safari5.1+ */
  background:         linear-gradient(top, rgba(255,255,255,0.61) 75%,rgba(236,241,249,0.61) 100%); /* W3C */
  box-shadow: 0 0 5px #E3F3FE inset, 0 -2px rgba(192,216,233,0.61) inset;
  font-size: 24px;
  text-shadow: 0 1px #fff;
}

#main-content section > ul {
  margin: 0;
  border: 1px solid #9ABED9;
  border-radius: 2px 2px 6px 6px;
  padding: 16px 24px;
  background: rgb(255,255,255);
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 5px #E3F3FE inset, 0 -2px rgba(192,216,233,0.61) inset;
}

#main-content section > ul > li {
  position: relative;
  margin: 0;
  border-bottom: 1px dotted #9F9F9F;
  padding: 8px 0 8px 136px;
  min-height: 24px;
  background: none;
  zoom: 1;
}

#main-content section > ul > li:last-child {
  border-bottom: 0;
}

#main-content section > ul > li .tag {
  display: inline-block;
  position: absolute;
  top: 8px;
  left: 0;
  border-radius: 2px 0 0 2px;
  padding: 0 16px 0 20px;
  width: 85px;
  color: #383838;
  background: #999 url(/static/images/products/releases/notes/tags.png) no-repeat left center;
  box-shadow: 0 1px 2px rgba(0,0,0,0.1), 0 -1px 0 rgba(0,0,0,0.2) inset;
  font-size: 11px;
  line-height: 22px;
  text-align: right;
  text-shadow: 1px 1px 0 #fff;
}

#main-content section > ul > li .tag.new {
  background-color: #FFEDCF;
}

#main-content section > ul > li .tag.changed {
  background-color: #E9CFFF;
  background-position: -150px center;
}

#main-content section > ul > li .tag.fixed {
  background-color: #F0FFE1;
  background-position: -300px center;
}

#main-content section > ul > li .tag.html5 {
  background-color: #F8DFD8;
  background-position: -450px center;
}

#main-content section > ul > li .tag.resolved {
  background-color: #DCF6FF;
  background-position: -600px center;
}

#main-content section > ul > li .tag.unresolved {
  background-color: #FFC8C8;
  background-position: -750px center;
}

#main-content section > ul > li .tag.developer {
  background-color: #E7E7E7;
  background-position: -900px center;
}

#main-content section > ul > li p {
  margin: 0;
}

#main-content section > ul > li .status {
  margin: 8px 0 0 0;
  border-radius: 2px;
  padding: 1px 8px;
  color: #383838;
  background: #E9F2FF;
  font-size: 11px;
}

#main-content section > ul > li .status li {
  display: inline-block;
  margin-right: 16px;
  padding: 2px 2px 2px 16px;
  background: url(/static/images/products/releases/notes/status-icons.png) no-repeat 0 4px;
  line-height: 1.5;
  zoom: 1;
}

#main-content section > ul > li .status .resolved {
  background-position: 0 -46px;
}

#sidebar section {
  margin-bottom: 32px;
  border: 1px solid rgb(200,200,200);
  border: 1px solid rgba(174,174,174,0.6);
  border-radius: 6px;
  padding: 22px;
  background: rgb(255,255,255);
  background: rgba(255,255,255,0.6);
  box-shadow: 0 0 5px rgba(230,230,230,0.15) inset, 0 -2px rgba(0,0,0,0.05) inset;
  text-shadow: 1px 1px 1px #FFF;
}

#sidebar section h2 {
  margin: 0 0 16px 0;
  color: #545454;
  font-size: 24px;
}

#sidebar ul li {
  margin: 8px 0 0 0;
  padding: 0;
  background: none;
}

#sec-try {
  padding: 0 !important;
}

#sec-try h2 {
  margin: 0 !important;
  padding: 16px 24px;
}

#sec-try ol {
  margin: 0;
  padding: 0;
}

#sec-try ol li {
  margin: 0;
  border-top: 1px dotted rgb(100,100,100);
  border-top: 1px dotted rgba(150,150,150,0.4);
  padding: 0;
  list-style-type: none;
  zoom: 1;
}

#sec-try ol li:nth-of-type(odd) {
  background-color: #F4F7F7;
  background-color: rgba(240,245,244,0.76);
}

#sec-try ol li a {
  display: block;
  padding: 16px 16px 16px 64px;
  background: url(/static/images/products/releases/notes/numbers.png) no-repeat left center;
  font-size: 14px;
  line-height: 1.6;
  font-weight: bold;
}

#sec-try ol li:nth-of-type(2) a {
  background-position: -300px center;
}

#sec-try ol li:nth-of-type(3) a {
  background-position: -600px center;
}

#sec-try ol li:nth-of-type(4) a {
  background-position: -900px center;
}

#sec-join a {
  display: inline-block;
  margin-top: 8px;
}


body.index #main-content {
  float: none;
  width: auto;
}

body.index #main-content ul {
  overflow: hidden;
  margin: 0;
  padding: 16px 40px;
}

body.index #main-content ul:nth-of-type(odd) {
  border-bottom: 1px solid #DDD;
  background: #FAFAFA;
}

body.index #main-content li {
  float: left;
  padding: 0;
  width: 12em;
  background: none;
  line-height: 2;
}

} /* end @media screen */

/* --------------------------------------------------------------------------
 * mobile
 * -------------------------------------------------------------------------- */

@media only screen and (max-width: 1000px) {

#main-feature hgroup {
  margin-right: 0;
}

/* hgroupの廃止に伴い追記 */
#main-feature div.hgroup {
  margin-right: 0;
}
/* /hgroupの廃止に伴い追記 */

#sidebar section:nth-child(3n) {
  margin-right: 0;
}

} /* end media query */

@media only screen and (max-width: 760px) {

#main-feature p {
  margin-right: 0;
}

#main-feature .switcher {
  position: static;
  margin: 0 auto;
}

#sidebar {
  margin: 0;
}

#main-content > section,
body.index #main-content ul {
  padding: 16px;
}

} /* end media query */

@media only screen and (min-width: 480px) and (max-width: 760px) {

#sec-try ol li a {
  margin: 0 auto;
  width: 220px;
}

} /* end media query */

@media only screen and (max-width: 480px) {

#main-content section > ul > li {
  padding: 8px 0;
}

#main-content section > ul > li .tag {
  position: static;
  display: black;
  margin: 8px 0;
}

} /* end media query */
