#tabzilla:before {
  background-color: #484848;
}

.mdn-icon {
  float: right;
  margin-top: 20px;
}

.mdn-icon:before {
  content: ' ';
  background-image: url("/media/img/firefox/releasenotes/mdn-icon.843ea912f097.png");
  -webkit-background-size: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  display: inline-block;
  width: 25px;
  height: 25px;
  vertical-align: bottom;
  margin-right: 5px;
}

#masthead,#wrapper {
  padding: 0;
  width: 100%;
}

#main-content {
  padding: 0;
  width: 100%;
}

#colophon {
  background: #565a5c;
  color: #bbb;
  float: left;
  margin: 0;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

#colophon a,#colophon a:link {
  color: #43c2ff;
}

#colophon a:hover,#colophon a:focus,#colophon a:active,#colophon a:visited {
  color: #10b1ff;
}

#colophon .logo a {
  background-image: url("/media/img/sandstone/footer-mozilla-white.6de861f93df6.png");
}

@media(-webkit-min-device-pixel-ratio:1.5),(min--moz-device-pixel-ratio:1.5),(-o-min-device-pixel-ratio:3/2),(min-resolution:1.5dppx) {
  #colophon .logo a {
    background-image: url("/media/img/sandstone/footer-mozilla-white-high-res.8f9230cd2f8c.png");
    -webkit-background-size: 93px 24px;
    background-size: 93px 24px;
  }
}

.container {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 1000px;
}

ul.menu {
  height: 66px;
}

.release-notes ul {
  margin: 0;
  padding: 0;
}

.navigator {
  position: static;
  top: 0;
  background-color: #e4e5e5;
}

.navigator a:hover {
  text-decoration: none;
}

.navigator li {
  display: inline-block;
  text-transform: uppercase;
  position: relative;
}

.navigator ul.menu>li>a,.navigator li.current {
  padding: 20px 16px;
  display: inline-block;
}

.navigator li.current {
  border-bottom: 5px solid #0c99d5;
}

.navigator li.submenu-title {
  cursor: pointer;
  padding: 0;
}

.navigator li.submenu-title:hover ul.submenu,.navigator li.submenu-title[aria-expanded="true"] ul.submenu {
  display: block;
  cursor: auto;
}

.navigator.fixedNav {
  background-color: #e4e5e5;
  background-image: none;
  box-shadow: 0 1px 3px rgba(50,50,50,0.4);
  position: fixed;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 200;
}

ul.submenu {
  background-color: #fff;
  box-shadow: 0 1px 1px 0 rgba(50,50,50,0.4);
  display: none;
  margin-top: 0;
  padding: 5px 10px 15px 10px;
  position: absolute;
  text-align: left;
  z-index: 1;
}

ul.submenu li {
  display: block;
  font-size: 14px;
  font-size: .875rem;
  text-align: left;
  text-transform: none;
  margin-left: 0;
  padding: 0 5px;
  background-color: transparent;
  white-space: nowrap;
}

ul.submenu li.title {
  font-size: 10px;
  font-size: .625rem;
  color: #333;
  text-transform: uppercase;
  padding: 15px 5px 0 5px;
}

ul.submenu:after {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #fff;
  content: '';
  width: 0;
  height: 0;
  left: 20px;
  position: absolute;
  top: -10px;
}

.notes-head {
  text-align: center;
}

.notes-head .intro {
  margin: 50px 0;
}

.notes-head .intro p {
  margin: auto;
  width: 580px;
}

.notes-head h1 {
  font-family: 'Open Sans Light',X-LocaleSpecific-Light,'Open Sans',X-LocaleSpecific,sans-serif;
  font-weight: normal;
  padding-bottom: 15px;
  text-align: center;
}

.notes-head .description h2 {
  font-size: 23px;
  font-size: 1.4375rem;
  line-height: 1.2;
}

.notes-head .version h2 {
  font-family: 'Open Sans Extrabold',X-LocaleSpecific-Extrabold,'Open Sans',X-LocaleSpecific,sans-serif;
  font-weight: 800;
  font-size: 60px;
  font-size: 3.75rem;
  margin: 0;
}

.notes-head h3 {
  font-size: 20px;
  font-size: 1.25rem;
}

.notes-head .latest-release {
  background-color: rgba(246,247,249,0.4);
  margin-bottom: 0;
}

.notes-head .latest-release .container {
  text-align: left;
  padding: 45px 65px 30px 65px;
}

.notes-head .latest-release .version {
  float: left;
  vertical-align: top;
  width: 25%;
}

.notes-head .latest-release .description {
  display: inline-block;
  float: right;
  width: 70%;
}

.notes-section {
  clear: both;
  width: 100%;
}

.notes-section .features {
  background-color: #fff;
  width: 100%;
}

.notes-section .section-wrapper {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: solid 1px #eee;
  display: table;
  margin: auto;
  padding: 30px 65px;
  width: 100%;
}

.notes-section .section-wrapper:last-child {
  border: 0;
}

.notes-section .section-wrapper>h4 {
  float: left;
  margin: 10px 0;
  width: 25%;
  text-transform: lowercase;
}

ul.section-items {
  float: left;
  list-style: none;
  margin: 0;
  width: 75%;
}

ul.section-items li {
  display: list-item;
  padding: 15px;
  margin-left: 5px 0 0 30px;
}

ul.section-items li p {
  margin: 0;
  padding: 0;
}

ul.section-items li:nth-child(odd) {
  background-color: rgba(223,236,250,0.41);
}

ul.section-items li:nth-child(even) {
  background-color: #FFF;
}

ul.section-items ul {
  list-style-type: disc;
  margin-top: 10px;
}

ul.section-items ul li {
  padding: 0;
  list-style-type: circle;
}

ul.section-items ul li:nth-child(odd),ul.section-items ul li:nth-child(even) {
  background-color: transparent;
}

.notes-footer .container {
  padding: 40px;
}

.notes-footer .version-message {
  margin-bottom: 0;
}

.notes-footer .version-message:before {
  display: inline-block;
  *display:inline;
  *zoom:1;
  margin: 0 4px 0 0;
  width: 25px;
  height: 25px;
  vertical-align: text-bottom;
  background: url("/media/img/firefox/template/icon-check.f360a8395644.svg") center center no-repeat;
  content: '';
}

.notes-footer .all-download {
  float: left;
}

.notes-footer .all-download p {
  margin: 0;
}

.notes-footer .download-buttons {
  float: right;
}

.release-footer {
  background-color: #fff;
  margin: 0;
  padding: 40px 0;
}

.release-footer h2 {
  font-size: 14px;
  font-size: .875rem;
}

.release-footer p,.release-footer a {
  display: block;
  font-size: 12px;
  margin-bottom: 0;
}

.release-footer .col {
  float: left;
  margin: 0 10px;
  width: 300px;
}

#new h4:before {
  content: '\00A0\f005\00A0';
  font-family: 'Font Awesome';
  margin-right: .2em;
}

#fixed h4:before {
  content: '\00A0\f00c\00A0';
  font-family: 'Font Awesome';
  margin-right: .2em;
}

#changed h4:before {
  content: '\00A0\f021\00A0';
  font-family: 'Font Awesome';
  margin-right: .2em;
}


#developer h4:before {
  content: '\00A0\f0ad\00A0';
  font-family: 'Font Awesome';
  margin-right: .2em;
}

#html5 h4:before {
  content: '\00A0\f121\00A0';
  font-family: 'Font Awesome';
  margin-right: .2em;
}

#resolved h4:before {
  content: '\00A0\f164\00A0';
  font-family: 'Font Awesome';
  margin-right: .2em;
}

#known h4:before {
  content: '\00A0\f05e\00A0';
  font-family: 'Font Awesome';
  margin-right: .2em;
}

@media only screen and (max-width:1000px) {
  .container {
    width: 760px;
  }

  .notes-head .intro p {
    text-align: center;
    width: 70%;
  }

  .notes-head .latest-release .container {
    text-align: center;
  }

  .notes-head .latest-release .container .version,.notes-head .latest-release .container .description {
    float: none;
    margin: auto auto;
    width: 70%;
  }

  ul.menu {
    height: auto;
  }

  ul.submenu {
    background-color: #fff;
    left: 0;
    width: 190px;
  }

  ul.submenu li {
    border: 0;
    background-color: transparent;
    display: block;
  }
}

@media only screen and (max-width:760px) {
  .container {
    width: 320px;
  }

  .release-notes h2 {
    font-size: 20px;
    font-size: 1.25rem;
  }

  #masthead {
    width: 100%;
    padding: 0;
  }

  #masthead .container {
    padding: 0;
  }

  .notes-head .intro {
    margin: 20px 0;
  }

  .notes-head .intro p {
    width: 100%;
  }

  .notes-head .latest-release .container {
    padding: 90px 0 30px 0;
  }

  .notes-head .latest-release .container .version,.notes-head .latest-release .container .description {
    text-align: center;
    width: 100%;
  }

  .notes-section .section-wrapper {
    padding: 20px 0;
  }

  .notes-section .section-wrapper>h4,.notes-section .section-wrapper ul {
    float: none;
    width: 100%;
  }

  .notes-footer .container {
    padding: 40px 0;
  }

  .notes-footer .all-download,.notes-footer .download-buttons {
    float: none;
    margin: 0;
    text-align: center;
  }

  .notes-footer .all-download {
    margin-bottom: 20px;
  }

  .notes-footer .all-download p {
    margin-bottom: 0;
  }

  .navigator .container {
    padding: 0;
    width: 100%;
  }

  .navigator ul.submenu {
    background-color: #fff;
    left: 25%;
    width: 50%;
  }

  .navigator ul.submenu li {
    border: 0;
    background-color: transparent;
    display: block;
  }

  .navigator ul.menu {
    margin: 0;
    text-align: center;
  }

  .navigator ul.menu>li {
    background-color: #e4e5e5;
    border-bottom: solid 1px #fff;
    clear: both;
    display: block;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    width: 100%;
  }

  .navigator ul.menu>li>a {
    width: 100%;
    padding: 5px 0;
  }

  .navigator ul.menu li.current {
    background-color: #0096dd;
    color: #fff;
    padding: 5px 0;
  }

  .navigator ul.menu li.current>a,.navigator ul.menu li.current>a:visited {
    color: #fff;
  }

  .navigator ul.menu>li:last-child {
    border-bottom: 0;
    padding: 0;
  }

  .release-footer .col {
    margin-bottom: 30px;
  }

  .release-footer .col:last-child {
    margin-bottom: 0;
  }
}

.download-link {
  margin-bottom: 10px;
}

.fx-privacy-link a:link,.fx-privacy-link a:visited {
  color: #0096dd;
}

.all-download .message {
  display: none;
}

.desktop-download-button {
  display: block;
}

.android-download-button {
  display: none;
}

.ios-download-button {
  display: none;
}

.android .desktop-download-button {
  display: none;
}

.android .android-download-button {
  display: block;
}

.android .ios-download-button {
  display: none;
}

.ios .desktop-download-button {
  display: none;
}

.ios .android-download-button {
  display: none;
}

.ios .ios-download-button {
  display: block;
}

.ios .all-download a,.android .all-download a {
  display: none;
}

.ios .all-download .message,.android .all-download .message {
  display: block;
}

/**
 * mozilla.jp additions
 */

#doc-outer {
  margin: 20px 0;
}

#doc {
  width: 100%;
}

.container {
  overflow: hidden;
  margin: 0 auto;
}

article li {
  background: none;
}

.notes-head .intro {
  margin-top: 70px;
}

.notes-head h1 {
  font-size: 40px;
  font-family: "source-han-sans-japanese", sans-serif;
}

.notes-head .intro p {
  width: auto;
  max-width: 720px;
}

.sticky-wrapper {
  position: sticky;
  top: 0;
}

.navigator .container {
  overflow: visible;
}

.navigator ul.menu > li {
  line-height: 1;
  text-transform: none;
}

#new-features h4:before {
  font-family: FontAwesome;
}

ul.section-items ul li {
  margin-left: 20px;
}

.mdn-icon:before {
  background-image: url(/static/images/firefox/releasenotes/mdn-icon.png);
}

.download-button {
  float: right;
}

.release-footer h2 {
  margin-bottom: 1em;
  font-size: 16px;
}

#breadcrumbs a:link,
#breadcrumbs a:visited,
#breadcrumbs a:hover,
#breadcrumbs a:focus,
#breadcrumbs a:active,
#breadcrumbs strong {
  color: #BBB;
}

#pagefooter {
  color: #BBB;
  background-color: #565A5C;
}

#pagefooter a:link,
#pagefooter a:visited {
  color: #43c2ff;
}

#pagefooter a:hover,
#pagefooter a:focus,
#pagefooter a:active {
  color: #10b1ff;
}

#globalfooter h1 a {
  background-image: url(/static/images/global/moz-wordmark-light-reverse.svg);
}

@media only screen and (max-width: 760px) {
  .container {
    margin: 0 16px;
    width: auto;
  }

  .navigator .container {
    margin: 0;
  }

  .download-button {
    float: none;
    text-align: center;
  }
}
